@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
}
.input-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input {
  height: 30px;
}

button {
  height: 40px;
  width: 238px;
}
.top-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.app{
  // display: flex;
}

.birthday-container{
  border-radius: 10px;
  margin: 10px;
  border: solid;
  width: 250px;
  background-color: white;
}

.birthday{
  padding: 10px;
}